<!DOCTYPE html>
<html>
  <head>
    <title>Nighit Routine Support</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Nighit Routine Support","/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Nighit Routine Supportとは","/about") %>
        </li>
        <li>
          <%= link_to("置手紙一覧","/posts/index") %>
        </li>
        <li>
          <%= link_to("新規投稿","/posts/new") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
